.biznes {
  width: 1620px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 61px 0 61px 58px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 240px;
  background-image: url(../../../images/bizes_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .biznes_left {
    .biznes_title {
      width: 352px;
      margin-bottom: 45px;
      font-family: Open Sans;
      font-size: 44px;
      font-weight: 500;
      line-height: 44px;
      text-align: left;
      color: #27478b;
    }
    .biznes_img {
      width: 481px;
      height: 273px;
      border-radius: 18px;
    }
  }
  .biznes_right {
    .display_title {
      display: none;
    }
    .biznes_right_flex {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 19px;

      .biznes_num {
        font-family: Open Sans;
        font-size: 17px;
        font-weight: 600;
        line-height: 23.15px;
        color: #27478b;
      }
      .g {
        color: #4b556380;
      }
      .bz_images {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        background-color: #27478b;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .bz_img {
          width: 64px;
          height: 64px;
          position: absolute;
          left: -4px;
          top: -3.5px;
        }
        .bz_icon {
          width: 25px;
          height: 25px;
        }
      }
      .c {
        background-color: #e3ecff;
      }
    }
    .biznes_flex_text {
      font-family: Open Sans;
      font-size: 27px;
      font-weight: 600;
      line-height: 36.77px;
      color: #27478b;
    }
    .g {
      color: #4b556380;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .biznes {
    width: 1215px;
    margin: 0 auto;
    margin-bottom: 22px;
    padding: 46px 0 45px 45px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 180px;
    background-image: url(../../../images/bizes_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .biznes_left {
      .biznes_title {
        width: 264px;
        margin-bottom: 34px;
        font-family: Open Sans;
        font-size: 33px;
        font-weight: 500;
        line-height: 33px;
        text-align: left;
        color: #27478b;
      }
      .biznes_img {
        width: 361px;
        height: 205px;
        border-radius: 14px;
      }
    }
    .biznes_right {
      .display_title {
        display: none;
      }
      .biznes_right_flex {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 14px;

        .biznes_num {
          font-family: Open Sans;
          font-size: 13px;
          font-weight: 600;
          line-height: 17px;
          color: #27478b;
        }
        .g {
          color: #4b556380;
        }
        .bz_images {
          border-radius: 50%;
          width: 42px;
          height: 42px;
          background-color: #27478b;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .bz_img {
            width: 48px;
            height: 48px;
            position: absolute;
            left: -3.2px;
            top: -3px;
          }
          .bz_icon {
            width: 19px;
            height: 19px;
          }
        }
        .c {
          background-color: #e3ecff;
        }
      }
      .biznes_flex_text {
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: #27478b;
      }
      .g {
        color: #4b556380;
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .biznes {
    width: 860px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 33px 0 32px 32px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 127px;
    background-image: url(../../../images/bizes_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .biznes_left {
      .biznes_title {
        width: 187px;
        margin-bottom: 25px;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #27478b;
      }
      .biznes_img {
        width: 256px;
        height: 145px;
        border-radius: 10px;
      }
    }
    .biznes_right {
      .display_title {
        display: none;
      }
      .biznes_right_flex {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;

        .biznes_num {
          font-family: Open Sans;
          font-size: 10px;
          font-weight: 600;
          line-height: 13px;
          color: #27478b;
        }
        .g {
          color: #4b556380;
        }
        .bz_images {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: #27478b;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .bz_img {
            width: 34px;
            height: 34px;
            position: absolute;
            left: -2px;
            top: -2.2px;
          }
          .bz_icon {
            width: 13px;
            height: 13px;
          }
        }
        .c {
          background-color: #e3ecff;
        }
      }
      .biznes_flex_text {
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        color: #27478b;
      }
      .g {
        color: #4b556380;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .biznes {
    width: 667px;
    margin: 0 auto;
    margin-bottom: 43px;
    padding: 33px 0 33px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 98px;
    background-image: url(../../../images/bizes_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .biznes_left {
      .biznes_title {
        width: 187px;
        margin-bottom: 25px;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #27478b;
      }
      .biznes_img {
        width: 256px;
        height: 145px;
        border-radius: 10px;
      }
    }
    .biznes_right {
      .display_title {
        display: none;
      }
      .biznes_right_flex {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;

        .biznes_num {
          font-family: Open Sans;
          font-size: 9px;
          font-weight: 600;
          line-height: 13px;
          color: #27478b;
        }
        .g {
          color: #4b556380;
        }
        .bz_images {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: #27478b;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .bz_img {
            width: 34px;
            height: 34px;
            position: absolute;
            left: -2px;
            top: -2.2px;
          }
          .bz_icon {
            width: 13px;
            height: 13px;
          }
        }
        .c {
          background-color: #e3ecff;
        }
      }
      .biznes_flex_text {
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        color: #27478b;
      }
      .g {
        color: #4b556380;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .biznes {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 21px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    background-image: url(../../../images/bizes_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    #left-card {
      order: 2; /* Bu kardi chap tarafga o'tkazish */
    }
    #right-card {
      order: 1; /* Bu kardi o'ng tarafga o'tkazish */
    }
    .biznes_left {
      .biznes_title {
        display: none;
        width: 187px;
        margin-bottom: 25px;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #27478b;
      }
      .biznes_img {
        width: 357px;
        height: 201px;
        border-radius: 10px;
      }
    }
    .biznes_right {
      .display_title {
        width: 116px;
        display: inline;
        font-family: Open Sans;
        font-size: 30.47px;
        font-weight: 500;
        line-height: 29.47px;
        color: #27478b;
      }
      .biznes_right_flex {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-bottom: 18px;
        .biznes_num {
          font-family: Open Sans;
          font-size: 19px;
          font-weight: 600;
          line-height: 26px;
          color: #27478b;
        }

        .g {
          color: #4b556380;
        }
        .bz_images {
          border-radius: 50%;
          width: 56px;
          height: 56px;
          background-color: #27478b;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .bz_img {
            width: 64px;
            height: 64px;
            position: absolute;
            left: -4px;
            top: -4.2px;
          }
          .bz_icon {
            width: 23px;
            height: 23px;
          }
        }
        .c {
          background-color: #e3ecff;
        }
      }
      .biznes_flex_text {
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: #27478b;
      }
      .g {
        color: #4b556380;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .biznes {
    width: 335px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 19px 9px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 27px;
    background-image: url(../../../images/bizes_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    #left-card {
      order: 2; /* Bu kardi chap tarafga o'tkazish */
    }
    #right-card {
      order: 1; /* Bu kardi o'ng tarafga o'tkazish */
    }
    .biznes_left {
      .biznes_title {
        display: none;
        width: 187px;
        margin-bottom: 25px;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #27478b;
      }
      .biznes_img {
        width: 315px;
        height: 178px;
        border-radius: 10px;
      }
    }
    .biznes_right {
      .display_title {
        width: 116px;
        display: inline;
        font-family: Open Sans;
        font-size: 26px;
        font-weight: 500;
        line-height: 26px;
        color: #27478b;
      }
      .biznes_right_flex {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: 18px;
        .biznes_num {
          font-family: Open Sans;
          font-size: 17px;
          font-weight: 600;
          line-height: 23px;
          color: #27478b;
        }

        .g {
          color: #4b556380;
        }
        .bz_images {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          background-color: #27478b;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .bz_img {
            width: 56px;
            height: 56px;
            position: absolute;
            left: -3px;
            top: -3px;
          }
          .bz_icon {
            width: 21px;
            height: 21px;
          }
        }
        .c {
          background-color: #e3ecff;
        }
      }
      .biznes_flex_text {
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #27478b;
      }
      .g {
        color: #4b556380;
      }
    }
  }
}
