.oconponia__section1{
    width: 1619px;
    height: 587px;
    border-radius: 18px;
    opacity: 0px;
    margin: 0 auto;
    background-size: 100%;
    background-image: url(/pages/compania/img/last_scene_test22_DENOISE\ 1.png);
    // background: linear-gradient(221.49deg, rgba(0, 0, 0, 0.3) 10.3%, rgba(39, 71, 139, 0) 76.54%);
    .container-blue{
        padding-top: 72px;
        padding-left: 91px;
        width: 1619px;
        height: 587px;
        top: 137px;
        left: 1769px;
        gap: 0px;
        border-radius: 18px;
        opacity: 0px;
        angle: -180 deg;
        background: rgba(39, 71, 139, 0.60);
        // border: 1px solid;
        .blue__text1_container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 27px;
            top: 209px;
            left: 241px;
            gap: 0px;
            opacity: 0px;
            // border: 1px solid;
            .circle{
                width: 15px;
                height: 15px;
                top: 214px;
                left: 208px;
                gap: 0px;
                opacity: 0px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 1);
                margin-right: 15px;               
            }
            h2{
                font-family: 'Open Sans';
                font-size: 27px;
                font-weight: 600;
                line-height: 27px;
                text-align: left;
                color: rgba(255, 255, 255, 1);              
            }   
        }
        .blue__text2_container{
            margin-top: 33px;
            display: flex;
            align-items: center;
            width: 1020px;
            height: 62px;
            // border: 1px solid;
            h2{
                font-family: 'Open Sans';
                font-size: 62px;
                font-weight: 500;
                line-height: 62px;
                letter-spacing: -0.01em;
                text-align: left;
                color: rgba(255, 255, 255, 1);             
            }          
        }
}   
}
@media only screen and (max-width: 1440px) {
    .oconponia__section1{
        width: 1214.25px;
        height: 440.25px;
        border-radius: 13px;       
        margin: 0 auto;
        background-image: url(/pages/compania/img/last_scene_test22_DENOISE\ 1.png);
        background-size: 100%;
        // background: linear-gradient(221.49deg, rgba(0, 0, 0, 0.3) 10.3%, rgba(39, 71, 139, 0) 76.54%);
        .container-blue{
            padding-top: 54px;
            padding-left: 68px;
            width: 1214.25px;
            height: 440.25px;           
            border-radius: 18px;
            opacity: 0px;
            angle: -180 deg;
            background: rgba(39, 71, 139, 0.65);
            // border: 1px solid;
            .blue__text1_container{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 170px;
                height: 27px;
                top: 209px;
                left: 241px;
                gap: 0px;
                opacity: 0px;
                // border: 1px solid;
                .circle{
                    width: 12px;
                    height: 12px;
                    top: 214px;
                    left: 208px;
                    gap: 0px;
                    opacity: 0px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);
                    margin-right: 15px;               
                }
                h2{
                    font-family: 'Open Sans';
                    font-size: 20.25px;
                    font-weight: 600;
                    line-height: 20.25px;
                    text-align: left;                    
                    color: rgba(255, 255, 255, 1);              
                }   
            }
            .blue__text2_container{
                margin-top: 24px;
                display: flex;
                align-items: center;
                width: 780.75px;
                height: 46px;                
                // border: 1px solid;
                h2{
                    font-family: 'Open Sans';
                    font-size: 46.5px;
                    font-weight: 500;
                    line-height: 46.5px;
                    letter-spacing: -0.01em;
                    text-align: left;                    
                    color: rgba(255, 255, 255, 1);             
                }          
            }
    }   
    }
}

@media only screen and (max-width: 1020px) {
    .oconponia__section1{
        width: 860.34px;
        height: 311.93px;            
        border-radius: 13px;       
        margin: 0 auto;
        background-image: url(/pages/compania/img/last_scene_test22_DENOISE\ 1.png);
        background-size: 100%;
        // background: linear-gradient(221.49deg, rgba(0, 0, 0, 0.3) 10.3%, rgba(39, 71, 139, 0) 76.54%);
        .container-blue{
            padding-top: 38px;
            padding-left: 48px;
            width: 860.34px;
            height: 311.93px;                      
            border-radius: 13px;
            opacity: 0px;
            angle: -180 deg;
            background: rgba(39, 71, 139, 0.65);
            // border: 1px solid;
            .blue__text1_container{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 120px;
                height: 27px;
                top: 209px;
                left: 241px;
                gap: 0px;
                opacity: 0px;
                // border: 1px solid;
                .circle{
                    width: 9px;
                    height: 9px;
                    top: 214px;
                    left: 208px;
                    gap: 0px;
                    opacity: 0px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);
                    margin-right: 15px;               
                }
                h2{
                    font-family: 'Open Sans';
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 14px;
                    text-align: left;                                        
                    color: rgba(255, 255, 255, 1);              
                }   
            }
            .blue__text2_container{
                margin-top: 17px;
                display: flex;
                align-items: center;
                width: 530.92px;
                height: 32px;                                
                // border: 1px solid;
                h2{
                    font-family: 'Open Sans';
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: -0.01em;
                    text-align: left;                                      
                    color: rgba(255, 255, 255, 1);             
                }          
            }
    }   
    }
}

@media only screen and (max-width: 768px) {
    .oconponia__section1{
        width: 668px;
        height: 312px;                
        border-radius: 13px;       
        margin: 0 auto;
        background-image: url(/pages/compania/img/last_scene_test22_DENOISE\ 1\ \(1\).png);
        background-repeat: no-repeat;
        background-size: 100%;
        // background: linear-gradient(221.49deg, rgba(0, 0, 0, 0.3) 10.3%, rgba(39, 71, 139, 0) 76.54%);
        .container-blue{
            padding-top: 38px;
            padding-left: 48px;
            width: 668px;
            height: 312px;                                
            border-radius: 18px;
            opacity: 0px;
            angle: -180 deg;
            background: rgba(39, 71, 139, 0.65);
            // border: 1px solid;
            .blue__text1_container{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 120px;
                height: 27px;
                top: 209px;
                left: 241px;
                gap: 0px;
                opacity: 0px;
                // border: 1px solid;
                .circle{
                    width: 9px;
                    height: 9px;
                    top: 214px;
                    left: 208px;
                    gap: 0px;
                    opacity: 0px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);
                    margin-right: 15px;               
                }
                h2{
                    font-family: 'Open Sans';
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 14px;
                    text-align: left;                                                            
                    color: rgba(255, 255, 255, 1);              
                }   
            }
            .blue__text2_container{
                margin-top: 17px;
                display: flex;
                align-items: center;
                width: 520.92px;
                height: 32px;
                top: 175.8px;
                left: 80.82px;
                gap: 0px;
                opacity: 0px;                                                
                // border: 1px solid;
                h2{
                    font-family: 'Open Sans';
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: -0.01em;
                    text-align: left;                                                         
                    color: rgba(255, 255, 255, 1);             
                }          
            }
    }   
    }
}

@media only screen and (max-width: 425px) {
    .oconponia__section1{
        width: 379.95px;
        height: 293.76px;                      
        border-radius: 13px;       
        margin: 0 auto;
        background-image: url(/pages/compania/img/last_scene_test22_DENOISE\ 1\ \(2\).png);
        background-size: 100%;
        // background: linear-gradient(221.49deg, rgba(0, 0, 0, 0.3) 10.3%, rgba(39, 71, 139, 0) 76.54%);
        .container-blue{
            padding-top: 49px;
            padding-left: 29px;
            width: 379.95px;
            height: 293.76px;                                           
            border-radius: 18px;
            opacity: 0px;
            angle: -180 deg;
            background: rgba(39, 71, 139, 0.65);
            // border: 1px solid;
            .blue__text1_container{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 160px;
                height: 27px;
                top: 209px;
                left: 241px;
                gap: 0px;
                opacity: 0px;
                // border: 1px solid;
                .circle{
                    width: 11px;
                    height: 11px;
                    top: 214px;
                    left: 208px;
                    gap: 0px;
                    opacity: 0px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);
                    margin-right: 15px;               
                }
                h2{
                    font-family: 'Open Sans';
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;                                                                                
                    color: rgba(255, 255, 255, 1);              
                }   
            }
            .blue__text2_container{
                margin-top: 20px;
                display: flex;
                align-items: center;
                width: 285px;
                height: 58px;
                top: 198.48px;
                left: 32.57px;
                gap: 0px;
                opacity: 0px;                                                                
                // border: 1px solid;
                h2{
                    font-family: 'Open Sans';
                    font-size: 29px;
                    font-weight: 500;
                    line-height: 29px;
                    letter-spacing: -0.01em;
                    text-align: left;                                                                         
                    color: rgba(255, 255, 255, 1);             
                }          
            }
    }   
    }
}

@media only screen and (max-width: 375px) {
    .oconponia__section1{
        width: 335px;
        height: 259px;                           
        border-radius: 13px;       
        margin: 0 auto;
        background-image: url(/pages/compania/img/last_scene_test22_DENOISE\ 1\ \(2\).png);
        background-size: 100%;
        // background: linear-gradient(221.49deg, rgba(0, 0, 0, 0.3) 10.3%, rgba(39, 71, 139, 0) 76.54%);
        .container-blue{
            padding-top: 44px;
            padding-left: 28px;
            width: 335px;
            height: 259px;                                                      
            border-radius: 18px;
            opacity: 0px;
            angle: -180 deg;
            background: rgba(39, 71, 139, 0.65);
            // border: 1px solid;
            .blue__text1_container{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 140px;
                height: 27px;
                top: 209px;
                left: 241px;
                gap: 0px;
                opacity: 0px;
                // border: 1px solid;
                .circle{
                    width: 10px;
                    height: 10px;
                    top: 214px;
                    left: 208px;
                    gap: 0px;
                    opacity: 0px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);
                    margin-right: 15px;               
                }
                h2{
                    font-family: 'Open Sans';
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 18px;
                    text-align: left;                                                                                                  
                    color: rgba(255, 255, 255, 1);              
                }   
            }
            .blue__text2_container{
                margin-top: 22px;
                display: flex;
                align-items: center;
                width: 251px;
                height: 52px;
                top: 175px;
                left: 29px;
                gap: 0px;
                opacity: 0px;                                                                                
                // border: 1px solid;  
                h2{
                    font-family: 'Open Sans';
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: -0.01em;
                    text-align: left;                                                                                             
                    color: rgba(255, 255, 255, 1);             
                }          
            }
    }   
    }
}