.oconponia__section4{
    width: 1619px;
    height: 724px;
    top: 1769px;
    left: 1770px;
    gap: 0px;
    border-radius: 18px;
    opacity: 0px;
    angle: -180 deg;
    margin: 0 auto;
    // border: 1px solid;
    img{
        width: 1619px;
        height: 724px;
        background-size: 100%;
    }   
}

@media only screen and (max-width: 1440px) {
    .oconponia__section4{
        width: 1214.25px;
        height: 543px;
        top: 1326.75px;
        left: 1327.5px;
        gap: 0px;
        border-radius: 13.5px;
        opacity: 0px;
        angle: -180 deg;        
        margin: 0 auto;
        // border: 1px solid;
        img{
            width: 1214.25px;
            height: 543px;
            background-size: 100%;
        }   
    }
}

@media only screen and (max-width: 1020px) {
    .oconponia__section4{
        width: 860.34px;
        height: 384.73px;
        top: 940.04px;
        left: 940.58px;
        gap: 0px;
        border-radius: 9.57px;
        opacity: 0px;
        angle: -180 deg;            
        margin: 0 auto;
        // border: 1px solid;
        img{
            width: 860.34px;
            height: 384.73px;
            background-size: 100%;
        }   
    }
}

@media only screen and (max-width: 768px) {
    .oconponia__section4{
        width: 669px;
        height: 299.17px;
        top: 971px;
        left: 718px;
        gap: 0px;
        border-radius: 7.44px;
        opacity: 0px;
        angle: -180 deg;                   
        margin: 0 auto;
        // border: 1px solid;
        img{
            width: 669px;
            height: 299.17px;
            background-size: 100%;
        }   
    }
}

@media only screen and (max-width: 425px) {
    .oconponia__section4{
        width: 379.95px;
        height: 198.48px;
        top: 1595.81px;
        left: 402.32px;
        gap: 0px;
        border-radius: 11.34px;
        opacity: 0px;     
        angle: -180 deg;                   
        margin: 0 auto;
        // border: 1px solid;
        img{
            width: 379.95px;
            height: 198.48px;
            background-size: 100%;
        }   
    }
}

@media only screen and (max-width: 375px) {
    .oconponia__section4{
        width: 335px;
        height: 175px;
        top: 1407px;
        left: 355px;
        gap: 0px;
        border-radius: 10px;
        opacity: 0px;
        angle: -180 deg;                   
        margin: 0 auto;
        // border: 1px solid;
        img{
            width: 335px;
            height: 175px;
            background-size: 100%;
        }   
    }
}