@import "./header.scss";
@import "./blok_hero.scss";
@import "./aktualnie.scss";
@import "./footer.scss";

.big__container {
  width: 1920px;
  // height: 2760px;
  top: 14086px;
  left: -482px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  // border: 1px solid;
}
