.tovar-section1{
    display: flex;
    width: 1620.18px;
    height: 634.7px;
    top: 214.97px;
    left: 975px;
    gap: 0px;
    border-radius: 18px;
    opacity: 0px; 
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 70px;
    // border: 1px solid;
    .tovar-section1-left{
        padding-top: 72px;
        padding-left: 60px;
        width: 50%;
        height: 100%;
        // border: 1px solid;
        h2{
            width: 540px;
            height: 62px;
            top: 287.41px;
            left: 209.81px;
            gap: 0px;
            opacity: 0px;
            // border: 1px solid;
            
            font-family: 'Open Sans';
            font-size: 62px;
            font-weight: 500;
            line-height: 62px;
            letter-spacing: -0.01em;
            text-align: left; 
            color: rgba(39, 71, 139, 1);           
        }
        h3{
            margin-top: 31px;
            width: 421px;
            height: 30px;
            top: 381.1px;
            left: 209.81px;
            gap: 0px;
            opacity: 0px; 
            // border: 1px solid;  
            
            font-family: 'Open Sans';
            font-size: 27px;
            font-weight: 400;
            line-height: 29.7px;
            letter-spacing: -0.01em;
            text-align: left;
            color: rgba(10, 25, 56, 1);
            span{
                font-family: 'Open Sans';
                font-size: 27px;
                font-weight: 400;
                line-height: 29.7px;
                letter-spacing: -0.01em;
                text-align: left;
                color: rgba(75, 85, 99, 1);                
            }
        }
        p{
            margin-top: 31px;
            width: 597.04px;
            height: 192px;
            top: 442.78px;
            left: 209.81px;
            gap: 0px;
            opacity: 0px;
            // border: 1px solid;
            
            font-family: 'Open Sans';
            font-size: 27px;
            font-weight: 400;
            line-height: 32.4px;
            letter-spacing: -0.01em;
            text-align: left;
            color: rgba(10, 25, 56, 1);            
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 34px;
            width: 597.01px;
            height: 87px;
            top: 669.47px;
            left: 209.84px;
            gap: 0px;
            border-radius: 18px;
            border: none;
            opacity: 0px;
            background: rgba(39, 71, 139, 1);
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 353px;
                height: 30px;
                top: 697.97px;
                left: 250.6px;
                gap: 0px;
                opacity: 0px;
                border: none;
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 27px;
                font-weight: 600;
                line-height: 29.7px;
                letter-spacing: -0.01em;
                text-align: center;
                color: rgba(255, 255, 255, 1);                
            }
            img{
                margin-left: 162px;
                width: 20.69px;
                height: 20.69px;
                top: 702.62px;
                left: 745.86px;
                gap: 0px;
                border: 2.65px;
                opacity: 0px;                
            }         
        }
        button:hover{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 34px;
            width: 597.01px;
            height: 87px;
            top: 669.47px;
            left: 209.84px;
            gap: 0px;
            border-radius: 18px;
            border: none;
            opacity: 0px;
            background: rgb(115, 115, 115);
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 353px;
                height: 30px;
                top: 697.97px;
                left: 250.6px;
                gap: 0px;
                opacity: 0px;
                border: none;
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 27px;
                font-weight: 600;
                line-height: 29.7px;
                letter-spacing: -0.01em;
                text-align: center;
                color: rgba(255, 255, 255, 1);                
            }
            img{
                margin-left: 162px;
                width: 20.69px;
                height: 20.69px;
                top: 702.62px;
                left: 745.86px;
                gap: 0px;
                border: 2.65px;
                opacity: 0px;                
            }         
        }
    } 
    .tovar-section-right{
        // padding-right: 43px;
        margin-left: 110px;
        width: 40%;
        height: 100%;
        // border: 1px solid;
        img{
            width: 100%;
            height: 100%;
            background-size: 100%;
        }
    }
}
.tovar-section1-mobile{
    display: none;
    width: 379px;
    height: px;
    // border: 1px solid;
    img{
        width: 379px;
        height: 328px;
        top: 122px;
        left: 23px;
        gap: 0px;
        border-radius: 9.56px;
        opacity: 0px;        
    }
    h2{
        margin-top: 20px;
        margin-left: 10px;
        width: 255px;
        height: 29px;
        top: 470px;
        left: 33px;
        gap: 0px;
        opacity: 0px;
        // border: 1px solid;
        
        font-family: 'Open Sans';
        font-size: 29px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgba(39, 71, 139, 1);        
    }
    h3{
        margin-top: 16px;
        margin-left: 10px;
        width: 322px;
        height: 22px;
        // border: 1px solid;

        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgba(10, 25, 56, 1); 
        span{
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;
            text-align: left;
            color: rgba(75, 85, 99, 1);            
        }       
    }
    p{
        margin-left: 10px;
        margin-top: 10px;
        width: 358px;
        height: 168px;
        top: 546px;
        left: 33px;
        gap: 0px;
        opacity: 0px;
        // border: 1px solid;
        
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgba(10, 25, 56, 1);        
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-left: 10px;
        width: 357px;
        height: 75px;
        top: 739px;
        left: 34px;
        gap: 0px;
        border-radius: 9.56px;
        opacity: 0px;   
        border: none;
        background: rgba(39, 71, 139, 1);
        h2{
            padding-top: 0px;
            margin-top: 0px;
            width: 251px;
            height: 22px;
            top: 764.15px;
            left: 55.11px;
            gap: 0px;
            opacity: 0px;
            // border: 1px solid;  
            
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color: rgba(255, 255, 255, 1);            
        }
        img{
            margin-left: 50px;
            width: 20px;
            height: 20px;
            top: 767px;
            left: 345px;
            gap: 0px;
            border: 0px;
            border-radius: 0px;
            opacity: 0px;            
        }
    }
    button:hover{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-left: 10px;
        width: 357px;
        height: 75px;
        top: 739px;
        left: 34px;
        gap: 0px;
        border-radius: 9.56px;
        opacity: 0px;   
        border: none;
        background: rgb(115, 115, 115);
        h2{
            padding-top: 0px;
            margin-top: 0px;
            width: 251px;
            height: 22px;
            top: 764.15px;
            left: 55.11px;
            gap: 0px;
            opacity: 0px;
            // border: 1px solid;  
            
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color: rgba(255, 255, 255, 1);            
        }
        img{
            margin-left: 50px;
            width: 20px;
            height: 20px;
            top: 767px;
            left: 345px;
            gap: 0px;
            border: 2px;
            opacity: 0px;            
        }
    }
}
.tovar-section1-mobile1{
    display: none;
    width: 335px;
    height: px;
    // border: 1px solid;
    img{
        width: 334.41px;
        height: 289.41px;
        top: 107.65px;
        left: 20.29px;
        gap: 0px;
        border-radius: 8.44px;
        opacity: 0px;                
    }
    h2{
        margin-top: 17px;
        margin-left: 8px;
        width: 221px;
        height: 26px;
        top: 414.71px;
        left: 29.12px;
        gap: 0px;
        opacity: 0px;        
        // border: 1px solid;
        
        font-family: 'Open Sans';
        font-size: 26px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.01em;
        text-align: left;        
        color: rgba(39, 71, 139, 1);        
    }
    h3{
        margin-top: 12px;
        margin-left: 8px;
        width: 322px;
        height: 22px;
        // border: 1px solid;

        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 19.8px;
        letter-spacing: -0.01em;
        text-align: left;        
        color: rgba(10, 25, 56, 1); 
        span{
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 400;
            line-height: 19.8px;
            letter-spacing: -0.01em;
            text-align: left;            
            color: rgba(75, 85, 99, 1);            
        }       
    }
    p{
        margin-left: 8px;
        margin-top: 8px;
        width: 315.88px;
        height: 154px;
        top: 481.77px;
        left: 29.12px;
        gap: 0px;
        opacity: 0px;        
        // border: 1px solid;
        
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        letter-spacing: -0.01em;
        text-align: left;        
        color: rgba(10, 25, 56, 1);        
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-left: 8px;
        width: 315px;
        height: 66.18px;
        top: 652.06px;
        left: 30px;
        gap: 0px;
        border-radius: 8.44px;
        opacity: 0px;          
        border: none;
        background: rgba(39, 71, 139, 1);
        h2{
            padding-top: 0px;
            margin-top: 0px;
            width: 226px;
            height: 20px;
            top: 674.25px;
            left: 48.63px;
            gap: 0px;
            opacity: 0px;            
            // border: 1px solid;  
            
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 600;
            line-height: 19.8px;
            text-align: left;            
            color: rgba(255, 255, 255, 1);            
        }
        img{
            margin-left: 40px;
            width: 16px;
            height: 16px;
            border: 0px; 
            border-radius: 0px;
            // border: 1px solid;       
        }
    }
    button:hover{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-left: 8px;
        width: 315px;
        height: 66.18px;
        top: 652.06px;
        left: 30px;
        gap: 0px;
        border-radius: 8.44px;
        opacity: 0px;          
        border: none;
        background: rgb(115, 115, 115);
        h2{
            padding-top: 0px;
            margin-top: 0px;
            width: 226px;
            height: 20px;
            top: 674.25px;
            left: 48.63px;
            gap: 0px;
            opacity: 0px;            
            // border: 1px solid;  
            
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 600;
            line-height: 19.8px;
            text-align: left;            
            color: rgba(255, 255, 255, 1);            
        }
        img{
            margin-left: 40px;
            width: 16px;
            height: 16px;
            border: 0px; 
            border-radius: 0px;
            // border: 1px solid;       
        }
    }
}

@media only screen and (max-width: 1440px) {
    .tovar-section1{
        display: flex;
        width: 1215px;
        height: 476.03px;
        top: 161.23px;
        left: 731.25px;
        gap: 0px;
        border-radius: 13.5px;
        opacity: 0px;        
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 60px;
        // border: 1px solid;
        .tovar-section1-left{
            padding-top: 54px;
            padding-left: 45px;
            width: 50%;
            height: 100%;
            // border: 1px solid;
            h2{
                width: 396px;
                height: 46px;
                top: 215.56px;
                left: 157.36px;
                gap: 0px;
                opacity: 0px;                
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 46px;
                font-weight: 500;
                line-height: 46px;
                letter-spacing: -0.01em;
                text-align: left;                
                color: rgba(39, 71, 139, 1);           
            }
            h3{
                margin-top: 24px;
                width: 321px;
                height: 30px;
                top: 381.1px;
                left: 209.81px;
                gap: 0px;
                opacity: 0px; 
                // border: 1px solid;  
                
                font-family: 'Open Sans';
                font-size: 20.25px;
                font-weight: 400;
                line-height: 22.28px;
                letter-spacing: -0.01em;
                text-align: left;                              
                color: rgba(10, 25, 56, 1);
                span{
                    font-family: 'Open Sans';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                    text-align: left;                                      
                    color: rgba(75, 85, 99, 1);                
                }
            }
            p{
                margin-top: 24px;
                width: 447.78px;
                height: 144px;
                top: 332.09px;
                left: 157.36px;
                gap: 0px;
                opacity: 0px;                
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.01em;
                text-align: left;                
                color: rgba(10, 25, 56, 1);            
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 34px;
                width: 447.75px;
                height: 65.25px;
                top: 502.1px;
                left: 157.38px;
                gap: 0px;
                border-radius: 13.5px;
                opacity: 0px;
                border: none;              
                background: rgba(39, 71, 139, 1);
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 260px;
                    height: 22px;
                    top: 522.48px;
                    left: 189.95px;
                    gap: 0px;
                    opacity: 0px;                    
                    border: none;
                    // border: 1px solid;
                    
                    font-family: 'Open Sans';
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                    text-align: center;                    
                    color: rgba(255, 255, 255, 1);                
                }
                img{
                    margin-left: 122px;
                    width: 15.52px;
                    height: 15.52px;
                    top: 526.97px;
                    left: 559.39px;
                    gap: 0px;
                    border: 1.99px;
                    opacity: 0px;                                  
                }         
            }
            button:hover{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 34px;
                width: 447.75px;
                height: 65.25px;
                top: 502.1px;
                left: 157.38px;
                gap: 0px;
                border-radius: 13.5px;
                opacity: 0px;
                border: none;              
                background: rgb(115, 115, 115);
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 260px;
                    height: 22px;
                    top: 522.48px;
                    left: 189.95px;
                    gap: 0px;
                    opacity: 0px;                    
                    border: none;
                    // border: 1px solid;
                    
                    font-family: 'Open Sans';
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                    text-align: center;                    
                    color: rgba(255, 255, 255, 1);                
                }
                img{
                    margin-left: 122px;
                    width: 15.52px;
                    height: 15.52px;
                    top: 526.97px;
                    left: 559.39px;
                    gap: 0px;
                    border: 1.99px;
                    opacity: 0px;                                  
                }         
            }
            
        } 
        .tovar-section-right{
            margin-left: 80px;
            width: 40%;
            height: 100%;
            // border: 1px solid;
            img{
                width: 100%;
                height: 100%;
                background-size: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    .tovar-section1{
        display: flex;
        width: 860px;
        height: 337.19px;
        top: 114.21px;
        left: 517.97px;
        gap: 0px;
        border-radius: 9.56px;
        opacity: 0px;              
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 50px;
        // border: 1px solid;
        .tovar-section1-left{
            padding-top: 38px;
            padding-left: 31px;
            width: 50%;
            height: 100%;
            // border: 1px solid;
            h2{
                width: 278px;
                height: 32px;
                top: 152.69px;
                left: 111.46px;
                gap: 0px;
                opacity: 0px;                                
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 32px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: -0.01em;
                text-align: left;                                
                color: rgba(39, 71, 139, 1);           
            }
            h3{
                margin-top: 17px;
                width: 221px;
                height: 30px;
                top: 381.1px;
                left: 209.81px;
                gap: 0px;
                opacity: 0px; 
                // border: 1px solid;  
                
                font-family: 'Open Sans';
                font-size: 14.34px;
                font-weight: 400;
                line-height: 15.78px;
                letter-spacing: -0.01em;
                text-align: left;                                              
                color: rgba(10, 25, 56, 1);
                span{
                    font-family: 'Open Sans';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 15.4px;
                    letter-spacing: -0.01em;
                    text-align: left;                                                          
                    color: rgba(75, 85, 99, 1);                
                }
            }
            p{
                margin-top: 0px;
                width: 317.18px;
                height: 102px;
                top: 235.23px;
                left: 111.46px;
                gap: 0px;
                opacity: 0px;                               
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                letter-spacing: -0.01em;
                text-align: left;                              
                color: rgba(10, 25, 56, 1);            
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 18px;
                width: 317.16px;
                height: 46.22px;
                top: 355.65px;
                left: 111.48px;
                gap: 0px;
                border-radius: 9.56px;
                opacity: 0px;                
                border: none;              
                background: rgba(39, 71, 139, 1);
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 180px;
                    height: 15px;
                    top: 370.79px;
                    left: 135.13px;
                    gap: 0px;
                    opacity: 0px;                                        
                    border: none;
                    // border: 1px solid;
                    
                    font-family: 'Open Sans';
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 15.4px;
                    letter-spacing: -0.01em;
                    text-align: center;                                        
                    color: rgba(255, 255, 255, 1);                
                }
                img{
                    margin-left: 90px;
                    width: 10.99px;
                    height: 10.99px;
                    top: 373.27px;
                    left: 396.24px;
                    gap: 0px;
                    border: 1.41px;
                    opacity: 0px;                                                    
                }         
            }
            button:hover{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 18px;
                width: 317.16px;
                height: 46.22px;
                top: 355.65px;
                left: 111.48px;
                gap: 0px;
                border-radius: 9.56px;
                opacity: 0px;                
                border: none;              
                background: rgb(115, 115, 115);
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 180px;
                    height: 15px;
                    top: 370.79px;
                    left: 135.13px;
                    gap: 0px;
                    opacity: 0px;                                        
                    border: none;
                    // border: 1px solid;
                    
                    font-family: 'Open Sans';
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 15.4px;
                    letter-spacing: -0.01em;
                    text-align: center;                                        
                    color: rgba(255, 255, 255, 1);                
                }
                img{
                    margin-left: 90px;
                    width: 10.99px;
                    height: 10.99px;
                    top: 373.27px;
                    left: 396.24px;
                    gap: 0px;
                    border: 1.41px;
                    opacity: 0px;                                                    
                }         
            }
            
            
            
        } 
        .tovar-section-right{
            margin-left: 60px;
            width: 40%;
            height: 100%;
            // border: 1px solid;
            img{
                width: 100%;
                height: 100%;
                background-size: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .tovar-section1{
        display: flex;
        width: 667px;
        height: 262px;
        top: 127px;
        left: 414px;
        gap: 0px;
        border-radius: 9.56px;
        opacity: 0px;                      
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 30px;
        // border: 1px solid;
        .tovar-section1-left{
            padding-top: 12px;
            padding-left: 11px;
            width: 50%;
            height: 100%;
            // border: 1px solid;
            h2{
                width: 278px;
                height: 32px;
                top: 139.48px;
                left: 60px;
                gap: 0px;
                opacity: 0px;                                               
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 32px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: -0.01em;
                text-align: left;                                                
                color: rgba(39, 71, 139, 1);           
            }
            h3{
                margin-top: 17px;
                width: 221px;
                height: 30px;
                top: 381.1px;
                left: 209.81px;
                gap: 0px;
                opacity: 0px; 
                // border: 1px solid;  
                
                font-family: 'Open Sans';
                font-size: 14.34px;
                font-weight: 400;
                line-height: 15.78px;
                letter-spacing: -0.01em;
                text-align: left;                                                              
                color: rgba(10, 25, 56, 1);
                span{
                    font-family: 'Open Sans';
                    font-size: 14.34px;
                    font-weight: 400;
                    line-height: 15.78px;
                    letter-spacing: -0.01em;
                    text-align: left;                                                                              
                    color: rgba(75, 85, 99, 1);                
                }
            }
            p{
                margin-top: 0px;
                width: 317.18px;
                height: 102px;
                top: 222.02px;
                left: 60px;
                gap: 0px;
                opacity: 0px;                                             
                // border: 1px solid;
                
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                letter-spacing: -0.01em;
                text-align: left;                                              
                color: rgba(10, 25, 56, 1);            
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 18px;
                width: 317.16px;
                height: 46.22px;
                top: 342.45px;
                left: 60.02px;
                gap: 0px;
                border-radius: 9.56px;
                opacity: 0px;                                
                border: none;              
                background: rgba(39, 71, 139, 1);
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 203px;
                    height: 15px;
                    top: 357.59px;
                    left: 83.67px;
                    gap: 0px;
                    opacity: 0px;                                                            
                    border: none;
                    // border: 1px solid;
                    
                    font-family: 'Open Sans';
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 15.4px;
                    letter-spacing: -0.01em;
                    text-align: center;                                                            
                    color: rgba(255, 255, 255, 1);                
                }
                img{
                    margin-left: 50px;
                    width: 10.99px;
                    height: 10.99px;
                    top: 360.06px;
                    left: 344.78px;
                    gap: 0px;
                    border: 1.41px 0px 0px 0px;
                    opacity: 0px;                                                                        
                }         
            }
            button:hover{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 18px;
                width: 317.16px;
                height: 46.22px;
                top: 342.45px;
                left: 60.02px;
                gap: 0px;
                border-radius: 9.56px;
                opacity: 0px;                                
                border: none;              
                background: rgb(115, 115, 115);
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 203px;
                    height: 15px;
                    top: 357.59px;
                    left: 83.67px;
                    gap: 0px;
                    opacity: 0px;                                                            
                    border: none;
                    // border: 1px solid;
                    
                    font-family: 'Open Sans';
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 15.4px;
                    letter-spacing: -0.01em;
                    text-align: center;                                                            
                    color: rgba(255, 255, 255, 1);                
                }
                img{
                    margin-left: 50px;
                    width: 10.99px;
                    height: 10.99px;
                    top: 360.06px;
                    left: 344.78px;
                    gap: 0px;
                    border: 1.41px 0px 0px 0px;
                    opacity: 0px;                                                                        
                }         
            }
            
            
            
            
        } 
        .tovar-section-right{
            margin-left: 70px;
            width: 40%;
            height: 100%;
            // border: 1px solid;
            img{
                width: 100%;
                height: 100%;
                background-size: 100%;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .tovar-section1{
        display: none;
    }
    .tovar-section1-mobile{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 375px) {
    .tovar-section1{
        display: none;
    }
    .tovar-section1-mobile{
        display: none;
        width: 379px;
        height: px;
        // border: 1px solid;
        img{
            width: 379px;
            height: 328px;
            top: 122px;
            left: 23px;
            gap: 0px;
            border-radius: 9.56px;
            opacity: 0px;        
        }
        h2{
            margin-top: 20px;
            margin-left: 10px;
            width: 255px;
            height: 29px;
            top: 470px;
            left: 33px;
            gap: 0px;
            opacity: 0px;
            // border: 1px solid;
            
            font-family: 'Open Sans';
            font-size: 29px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: -0.01em;
            text-align: left;
            color: rgba(39, 71, 139, 1);        
        }
        h3{
            margin-top: 16px;
            margin-left: 10px;
            width: 322px;
            height: 22px;
            // border: 1px solid;
    
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.01em;
            text-align: left;
            color: rgba(10, 25, 56, 1); 
            span{
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: -0.01em;
                text-align: left;
                color: rgba(75, 85, 99, 1);            
            }       
        }
        p{
            margin-left: 10px;
            margin-top: 10px;
            width: 358px;
            height: 168px;
            top: 546px;
            left: 33px;
            gap: 0px;
            opacity: 0px;
            // border: 1px solid;
            
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.01em;
            text-align: left;
            color: rgba(10, 25, 56, 1);        
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            margin-left: 10px;
            width: 357px;
            height: 75px;
            top: 739px;
            left: 34px;
            gap: 0px;
            border-radius: 9.56px;
            opacity: 0px;   
            border: none;
            background: rgba(39, 71, 139, 1);
            h2{
                padding-top: 0px;
                margin-top: 0px;
                width: 251px;
                height: 22px;
                top: 764.15px;
                left: 55.11px;
                gap: 0px;
                opacity: 0px;
                // border: 1px solid;  
                
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: 600;
                line-height: 22px;
                text-align: left;
                color: rgba(255, 255, 255, 1);            
            }
            img{
                margin-left: 50px;
                width: 20px;
                height: 20px;
                top: 767px;
                left: 345px;
                gap: 0px;
                border: 2px;
                opacity: 0px;            
            }
        }
    }
    .tovar-section1-mobile1{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
}

